<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <link rel="stylesheet/less" href="/style.less">
  <script src="/less.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<<header>
    <div class="wrapper">
        <img src="/gfx/logo.png">
        <span>twitter clone</span>
    </div>

</header>
<div class="content">
    <div class="wrapper">
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "flash#{name}"  %>
    <% end %>
    <%= yield %>
</div>
</div>
</body>
</html>
